html{
    background-color: #0e0e0e;
    margin: 25% auto;
    padding: 0%;
}
main{
    background-color: rgb(21, 21, 29);
    display: grid;
    grid-gap: 2%;
    padding: 5% 20%;
    grid-template-areas: 
    'a a a a b b'
    'a a a a b b'
    'c c c d d d'
    'c c c e e e'
    ;
}
div{
    background-color: rgb(21, 21, 29);
    margin-bottom: 2%;
    padding: 15%;
}
.A{
    background-color: orangered;
    grid-area: a;
}
.B{
    background-color: rgb(255, 174, 0);
    grid-area: b;
}
.C{
    background-color: rgb(80, 180, 80);
    grid-area: c;
}
.D{
    background-color: rgb(14, 165, 165);
    grid-area: d;
}
.E{
    background-color: rgb(14, 165, 165);
    grid-area: e;
}